@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300);
@import url(https://fonts.googleapis.com/css?family=Lato);

.intro-message h1{
  font-family: 'Poiret One', cursive;
  font-size: 272px;
}

.intro-message h3{
  font-family: 'Quicksand', sans-serif;
  font-size: 48px;
}

.question-banner h1{
  font-family: 'Poiret One', cursive;
  font-size: 148px;
}

.question {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 900;
}

.start-button {
  width: 20%;
  height: 40%;
  font-family: 'Poiret One', cursive;
  font-size: 48px;
  border: 2px solid black;
}

.submit-button {
  width: 45%;
  height: 40%;
  font-family: 'Poiret One', cursive;
  font-size: 48px;
  border: 2px solid black;
}

.userInput{
  padding-right:2%;
}

textarea{
  border-color: gray;
  border-style: solid;
  border-width: 5px;
  width: 100%;
  min-height: 250px;
  font-size: 22px;
}

.question-stats a {
  cursor: pointer;
}

.question-stats{
  display: inline;
}

.previousAnswer{
  border: 2px solid black;
  background: transparent;
  color: black;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 75px solid #3399ff;
	border-bottom: 50px solid transparent;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 22.5px solid #3399ff;
  position: relative;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 22.5px solid red;
  margin-top: 5px;
  position: relative;
  }

.voting-box{
  height: 100%;
  background: green;
}

.question-box{
  background: white;
  color: black;
}

.content-box{
  border: 2px solid black;
  background:rgba(0,0,0,0.3);
  font-size: 22px;
  color: black;
  padding: 1.8%;
  height: 100%;
}

.container{
  margin-top: 6%;
}

.answer-form{
  color: black;
}

.show{
  display: inline;
}

.row{
  margin-bottom: 5%;
}

body {
    background-image: url("../public/assets/images/ipad.png");
}

.container-enter {
  opacity: 0.01;
}

.drew-box{
  background: rgba(0,0,0,0.5);
  color: white;
  padding: -10%;
  height: 10%;
}

.container-enter.container-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}
.container-leave {
  opacity: 1;
}

.container-leave.container-leave-active {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.warning-div{
  background: red;
  color: white;
}
