.userInput{
  padding-right:2%;
}

.previousAnswer{
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 75px solid #3399ff;
	border-bottom: 50px solid transparent;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 22.5px solid #3399ff;
  position: relative;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 22.5px solid red;
  margin-top: 5px;
  position: relative;
  }

.voting-box{
  height: 100%;
  background: green;
}

.content-box{
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 1.8%;
  height: 100%;
}

.container{
  margin-top: 6%;
}

.answer-form{
  color: black;
}

.row{
  margin-bottom: 5%;
}
