{{#transition-group transition-class="container"}}

<!-- Header -->
<div class="intro-header">
  <div class="row">
    <div class="col-lg-12">
      <div class="intro-message">
        <center><h1>QIQ</h1>
        <h3>EXPLORE INTERVIEWING: GET HIRED</h3></center>
        <hr class="intro-divider">
      </div>
    </div>
  </div>
</div>

<center><button class="btn btn-default start-button" {{action 'getQuestion'}}>Begin</button></center>

{{/transition-group}}
